@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /*background: url(../img/img1.jpg);*/
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(0deg, rgb(149, 255, 197)40%,rgb(77, 185, 235));
}

/* LOGIN */

.bg{
    background-image: url(../img/col1.png);
    background-position: center center;
    background-size: cover;
}
.bg-principal{
    background: #ECEFF4;
}

.color{
    background-color:wheat;
}

/* INDEX */
.navbar .logo{
    width: 100px;
}

h1{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #222fe6;
    
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(178, 187, 187);
}

.cont{
    background-color: rgb(168, 166, 159);
}

.meals-showcase{
    display: block;
    float: left;
    width: 25%;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.span-1-of-4 {
	width: 23.8%; 
}

.icon-big{
    font-size: 350%;
    display: block;
    color: #222fe6;
    margin-bottom: 10px;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
}

h4{
    font-size: 110%;
    margin-bottom: 15px;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

h1:after{  /*--la pequeña linea naranja---*/
    display: block;
    height: 2px;
    background-color: #050505;
    content: " ";
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

h1,h4,h5{
    font-weight: 300;
    text-transform: uppercase;
}

header{
    font-size: 20px;
    color: #fff;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.contenedor img{
    width: 80%;
    height: 65%;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.5;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-right: 5%;
}

.contenedor img:hover{
    transform: scale(1.03);
    opacity: 1;
    border: 4px solid;
    border-color:  #222fe6;;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    color:black;
    font-family: 'algerian';
}

table{
    border-collapse: collapse;
    
}

/* PRODUCTOS */

img{
    width: 100%;
}

.navbar-color {
    background:#2E3440;
}

.producto-color {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgb(149, 255, 197)40%,rgb(77, 185, 235));
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

.card-border{
    border: solid 10px white;
    border-radius: 50px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}
.iconbox{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(white);
    color: rgb(241, 14, 14);
    font-size:32px;
    border-radius: 100px;
    flex: none;
}


#anuncio{
    background: rgb(173, 173, 173);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.bg-trans{
    border: solid 1px #000000;
}

/* USUARIOS */

.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background: cadetblue;
}

p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
    color:cadetblue;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150;
        border-radius: 2%;
    }
}

