

body{
    font-family: 'Poppins', sans-serif;
}

.navbar .logo{
    width: 100px;
}

h1{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #222fe6;
    
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(178, 187, 187);
}

.cont{
    background-color: rgb(168, 166, 159);
}

.meals-showcase{
    display: block;
    float: left;
    width: 25%;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.span-1-of-4 {
	width: 23.8%; 
}

.icon-big{
    font-size: 350%;
    display: block;
    color: #222fe6;
    margin-bottom: 10px;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
}

h4{
    font-size: 110%;
    margin-bottom: 15px;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

h1:after{  /*--la pequeña linea naranja---*/
    display: block;
    height: 2px;
    background-color: #050505;
    content: " ";
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

h1,h4,h5{
    font-weight: 300;
    text-transform: uppercase;
}

header{
    font-size: 20px;
    color: #fff;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.contenedor img{
    width: 80%;
    height: 55%;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.5;
    margin-top: 10%;
    margin-left: 8%;
    margin-bottom: 5%;
    margin-right: 20%;
}

.contenedor img:hover{
    transform: scale(1.03);
    opacity: 1;
    border: 4px solid;
    border-color:  #222fe6;;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: left;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    color:black;
    font-family: 'algerian';
}

table{
    border-collapse: collapse;
    
}



